{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load blog_tags %}
<!--Top Header End-->

    <!--Breadcrumbs-->
    <div class="col-lg-12 top2">
	<div class="container">
 
	    <ul class="breadcrumb">
	
		   <li><a href="{% url 'website:about' %}">Home</a></li>
	
		   <li class="active">About</li>
	
	    </ul>
	
	</div>
	</div>
 <!--Breadcrumbs-->
 
<!--Main Body-->
<div class="container">
<div class="row">
    <div class="col-lg-8 top3">
    
	    <p>I love html. CSS. It is simple to learn, personalize, and great for fast development of responsive sites. Whether you are a seasoned developer/designer or someone learning the basics of web design and development, html. CSS is great way to start with all of its out-of-the-box parts.

Building sites for several years has given us an appreciation for the hard work and time it takes to generate pretty work. They also understand the worth of using themes & templates to kickstart the design & development process.

html. CSS has come a long way and they desired to generate an amazing marketplace for html. CSS lovers like ourselves.For Further Free Templates signup our newsletter</p> 
	  <hr>
	  <h1 class="top1">Our Mission</h1>
	<p>To be the #1 community for free supplier of html. CSS themes and templates.</p>
    </div>
 <!--Sidebar Start-->
 <div class="col-md-4 top3">

		   <!-- Blog Search Well -->


			<!-- Blog Search Well -->
			{% include 'blog/blog-search.html'%}
			
			{% postcategories %}
			{% include 'blog/side-widget.html'%}
			<!-- Blog Categories Well -->
			

			<!-- Side Widget Well -->
			



	    </div>
  <!--Sidebar End-->
</div>

{% endblock %}